<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body>
    <% include partials/template/header.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>This is where its all begins.</p>
    <% include partials/template/jsdefaults.ejs %>
    <% include partials/template/footer.ejs %>
  </body>
</html>
